name: NPM Package
on:
  push:
    branches:
      - '!*'
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
          registry-url: 'https://npm.pkg.github.com'
      - run: npm install --ignore-scripts
      - run: npm run build
      - run: npm publish
